---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
      </header>
      <blockquote>
        <p>{{ page.law }}</p>
        <p>-- <a href="{{ page.law-url }}">{{ page.law-author }}, {{ page.law-year }}</a></p>
      </blockquote>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          {% assign prefix = site.url | remove_last: "/" %}
          {% assign permalink = page.url | prepend: prefix %}
          <a href="{{ permalink }}" rel="nofollow" target="_blank">Permalink</a>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ permalink }}" title="Share on LinkedIn" rel="nofollow" target="_blank">LinkedIn</a>
          <a href="https://facebook.com/sharer.php?u={{ permalink }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
